@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.a1{
     text-decoration:line-through ;
}
.container{
    display: flex;
}
.container3{
    display: flex;
}
i{
color: orange;
}
button{
    background-color: yellow;
    border: none;
    padding: 5px;
}
.a2{
    text-decoration: line-through;
}